.container {
    margin-top: 100px;
    background-color: #f6eeeeec;
}

.add {
    min-height: 300px;
    background-color: rgb(231,183,95);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 3px solid black;
    /* align-items: center; */
    
}



.addBox {
    margin: auto;
}

.addInputText {
    width: 250px;
    height: 50px;
}

.addButton {
    width: 530px;
    height: 76px;
    margin: auto;
    background-color: white;
    font-weight: bold;
}

.addButton:hover {
    background-color: black;
    color: white;
}

.addSpan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add, .read {
    margin: auto;
    width: 90%;
    margin-bottom: 70px;
}

.read{
    height: auto;
    background-color: rgb(251,238,202);
    color: black;
    max-height: 570px;
    overflow: auto;
}

.list{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;    
}

.list th{
    position: sticky; 
    top: 0px;
    
    background-color: #B80000;
    color: white;
    
    text-align: center;
    outline: 0.7px solid black;
    border: 1.5px solid black;

} 

.list td {
    border: 1.5px solid black;
}

@media (min-width: 768px) {
    .addBox {
        flex: 0 0 23%; /* Chia phần addBox thành 4 cột */
    }
}

@media (min-width: 992px) {
    .addBox {
        flex: 0 0 15%; /* Chia phần addBox thành 6 cột */
    }
}


.updateInput {
    width: 100%;
    box-sizing: border-box;
}

.updateInput:focus {
    background-color: rgb(102, 116, 109);
    color: white;
}

.message {
    position: absolute;
    top: 100%;
    left: 0; /* Đặt lỗi bắt đầu từ phía trái */
    color: red; /* Đặt màu chữ là màu đỏ */
    font-size: small; /* Đặt kích thước chữ nhỏ hơn */
    font-style: italic;
}

.errorInput {
    background-color: rgb(250, 180, 169);
}