/* body
{
    background-color: #B1CAE9;
} */
.vehicle_container {
    background-color: #E4EEF3;
}

.vehicle
{
    width: 1200px;
    height: auto;
    background-color:#5883AD;
    border: none;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;  
}
.form {
    width: 90%;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 12px;
}
.vehicle label
{
    text-align: left; /* Căn trái nhãn */
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: larger;
}
.vehicle input 
{
    width: 100%; 
    height: 50px;
    padding-left: 10px; 
    padding-right: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 5px;
}
.a, .b, .c
{
    display: flex;
    gap: 20px; /* Khoảng cách giữa các ô input */
    flex: 1; /* Phần tử con mở rộng để lấp đầy không gian còn lại */
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}

.vehicletype, .automaker, .model, .licenseplates, .chassisnumber, .framenumber
{
    width: 550px;
}
.vehicletype, .automaker, .chassisnumber
{
    margin-right: 50px;
}
.add-button {
    width: 100%;
    padding-top: 0px;
    font-family: Lato, sans-serif;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin: auto;
    margin-bottom: 20px;
}

.add-button button {
    padding: 15px 40px;
    border: 1px solid black;
    background-color: #87CEFA; /* Màu nền */
    font-size: large;
    color: black; /* Màu chữ */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Hiệu ứng hover */
    margin: auto;
}

.add-button button:hover {
    background-color: #B0E0E6; /* Màu nền khi di chuột qua */
}
.tableinfor {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tableinfor th,
  .tableinfor td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
    white-space: nowrap;
  }
  
  .tableinfor th {
    background-color: #5883AD;
    color: white;
  }
  
  .tableinfor tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tableinfor tbody tr:hover {
    background-color: #ddd;
  }
  
  .table-wrapper {
    max-height: 400px;
    max-width: 1200px;
    overflow-y: auto;
    position: relative;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  }
  
  .tableinfor thead {
    background-color: #4CAF50;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    border-top: 1px black ;
  }
  table {
    table-layout: auto;
  }
  .tableinfor thead td{
    width: 400px; /* Thiết lập chiều rộng tối thiểu */
     /* Giới hạn chiều rộng tối đa */
    /* Sử dụng 100% chiều rộng của phần tử cha */
}
.update {
    width: inherit;
    height: 20px;
    padding: 3px;
    margin: 0px;
}
.edit button[type="submit"] {
    background-color: #e5e5e5; /* Màu nền */
    color: black; /* Màu chữ */
    padding: 2px;
    margin-left: 18px;
    border: 1px solid black; /* Loại bỏ viền */
    cursor: pointer; /* Con trỏ hiển thị pointer khi hover */
    border-radius: 4px; /* Bo tròn góc */
    font-size: 16px; /* Kích thước font */
    transition: background-color 0.3s ease; /* Hiệu ứng màu nền */
}