.scrollBar::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1400px) {
    .setupWidth {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media (max-width: 1400px) and (min-width: 1200px) {
    .setupWidth {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (max-width: 700px) {
    .setupWidth {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.select .css-e7wuma-control {
    height: 30px;
}

.input_right input {
    text-align: center;
}

#element {
    display: none;
    position: absolute;
    top: 50%;
    left: 35%;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out; /* Adjust the transition duration */
    animation-name: demo-animation;
}

@keyframes demo-animation {
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.transform5050 {
    transform: translate(50%, 50%);
}
//date-range-picker
.rs-input-group {
    border: none !important;
    border-width: 0;
}
.rs-input-group:not(.rs-input-group-disabled):hover,
.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus,
.rs-input-group:focus-within {
    border: none;
    border-color: white;
}
